body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin: 0;
  background: black;
  background-image: url(https://source.unsplash.com/1600x900/?cars);
  font-family: 'Rubik', sans-serif;
}

h1 {
  text-shadow: 2px 2px; 
}

div + div { 
  margin-left: 20px; 
}
.search{
  background: rgb(160, 161, 162); 
}

.vehicle {
  display: inline-block;
  background-color: rgb(249, 248, 247);
  opacity: 85%;
  width: auto;
  height: auto;
  justify-content: center;
  margin:auto;
  padding: 2px;
  position: absolute;
  border: 3px;
  top: 20%;
 
}
.add {
  background: slategray;
  padding: 3em;
  border-radius: 20px;
  width: auto;
  max-width: 200px;
  margin: auto;
  font-family: inherit;
  position: absolute;
  bottom: 10%;
  opacity: 85%;
}